<%- include('partials/header', { title: "Step Polls", cssFiles: ['navbar', 'footer', 'pollsPage'] }) %>

<%- include('partials/navbar') %>

<section class="polls-section">
  <div class="polls-header">
    <h1>Explore Polls</h1>
    <p>Discover trending polls, cast your votes, and see what others think!</p>
  </div>
  <div class="polls-container">

    <% polls.forEach(poll => { %>
    <div class="poll-card">
      <div class="poll-title"><%= poll.pollQuestion %></div>
      <div class="poll-options">
        <% poll.pollOptions.forEach(opt => { %>
        <a class="poll-option" href="/votefor?user=<%= user %>&id=<%= poll._id %>&option=<%= opt %>" ><%= opt %></a>
        <% }) %>
      </div>
      <div class="poll-info">Posted by <a href="/profile?user=<%= poll.pollOperator._id %>"><%= poll.pollOperator.name %></a> | <%- poll.createdAt %></div>
    </div>
    <% }) %>

  </div>
</section>

<%- include('partials/footer') %>